
// C8051 Project settings files
*.dep
*.wsdt
*.wspos
*.cspy.bat

*.dbgdt
*.dni
*.tmp
*.ewt
//ARM Project settings files
*.dep
*.wsdt
*.wspos
*.cspy.bat

*.general.xcl
*.driver.xcl
*.crun
*.dbgdt
*.dni
*.tmp
*.ewt


*.PcbDocPrewiew
*.PcbDoc.htm
__Previews

*.o
*.pbi
*.pbi.cout
*.map
*.pbd
*.pbd.browse
*.rar
*.out
__Previews